
#imagen-carrusel{
    width:500px;
    height: 500px;
}
.carousel-control-next-icon{
    background-color:rgb(126, 69, 126);
}
.carousel-control-prev-icon{
    background-color: rgb(126, 69, 126);
}
.carousel-item {
    justify-content: center;
    background-color: thistle;
  }
 
h2{
    text-align:center;
    background-color: thistle;
    font-family: "Playwrite DE Grund", cursive;
}

#titulo-principal{
    text-align: center;
    color: thistle;
    font-size: 100px;
    font-family: "Playwrite DE Grund", cursive;
}

#titulo-tabla{
    background-color: plum;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#boton-nav{
    background-color: plum;
    font-family: "Montserrat", sans-serif;
    border-color: blueviolet;
}
#boton-nav:hover{
    background-color:hotpink;
    color: ivory;
}

#sobre-mi{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

.icon-link{
    font-family: "Montserrat", sans-serif;
    color: blueviolet;
}
.icon-link:hover{
    
    color: hotpink;
}

#boton-videojuegos{
    background-color: plum;
    font-family: "Montserrat", sans-serif;
    border-color: blueviolet;
}

#boton-videojuegos:hover{
    background-color:hotpink;
    color: ivory;
 }

